/* 

Palette 1 
#242f9b
#646fd4
#9ba3eb
#dbdffd
#fefefe

Palette 2
#354259
#cdc2ae
#ece5c7
#9ce3a8
#fefefe

Palette 3
#023047
#219ebc
#8ecae6
#ffb703
#fefefe

Palette 4
#0a1428
#14213d
#fca311
#e5e5e5
#fefefe


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", sans-serif;
  height: 100vh;
}

header {
  background-color: #fefefe;
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}

p {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.design-palette-1 {
  color: #242f9b;
  background: linear-gradient(to bottom, #dbdffd, #dbdffd, #9ba3eb, #646fd4);
}
.design-palette-2 {
  color: #354259;
  background: linear-gradient(to top, #9ce3a8, #cdc2ae, #ece5c7);
}
.design-palette-3 {
  color: #023047;
  background: linear-gradient(to bottom, #ffb703, #8ecae6, #219ebc);
}
.design-palette-4 {
  color: #0a1428;
  background: linear-gradient(to bottom, #e5e5e5, #fca311, #14213d);
}
